<nav class="navbar navbar-expand-sm bg-info navbar-info">
    <button class="btn btn-info" routerLink="/glossary">Interesses</button>
    <button class="btn btn-info" (click)="logout()">Logout</button>
</nav>

<div class="container mt-3" *ngIf="pessoa">
    <h1>Conta Premium</h1>
    <form ngNativeValidate>
        <div class="form-group">
            <label for="inputNCard" class="sr-only">Numero do cartão</label>
            <input type="text" id="inputCompany" [(ngModel)]="pessoa.nroCartao" class="form-control"
                placeholder="Numero do cartão" required="true" name="nroCartao">
        </div>
        <div class="form-group">
            <label for="input" class="sr-only">Nome no cartão</label>
            <input type="text" id="inputCompany" [(ngModel)]="pessoa.nomeNoCartao" class="form-control"
                placeholder="Nome no cartão" required="true" name="nomeNoCartao">
        </div>
        <div class="form-group">
            <label for="inputDateVal" class="sr-only">Data validade</label>
            <input type="text" id="inputCompany" [(ngModel)]="pessoa.dataValidade" class="form-control"
                placeholder="Data validade" required="true" name="dataValidade">
        </div>
        <div class="form-group">
            <label for="inputCodSec" class="sr-only">Codigo segurança</label>
            <input type="text" id="inputCodSec" [(ngModel)]="pessoa.codSeg" class="form-control"
                placeholder="Código segurança" required="true" name="codSeg">
        </div>
        <button routerLink="/profile" (click)="update(pessoa)" class="btn btn-success">Confirmar</button>
        <a routerLink="/profile" class="btn btn-dark ml-3">Voltar para o ínicio</a>
    </form>
</div>