<div class="container mt-3" *ngIf="pessoa">
    <div class="card">
        <div class="card-header">
            <td scope="row">
                <div *ngIf="pessoa.paga">
                    <h2>☆&nbsp;{{pessoa.nome}}</h2>
                </div>
                <div *ngIf="!pessoa.paga">
                    <h2>{{pessoa.nome}}</h2>
                </div>
            </td>
        </div>
        <div class="card-body">
            <div class="row mb-3" *ngIf="qualidades">
                <tr *ngFor="let q of pessoa.qualidades">                    
                    <td scope="row">{{q.nome}}</td>
                </tr>
            </div>
            <div class="row" *ngIf="!qualidades">
                <p class="text-center" style="color: red;">Essa pessoa não adicionou nenhuma qualidade.</p>
            </div>
            <div class="row">
                <button (click)="backtoList()" class="btn btn-dark mt-3">
                    Voltar a lista
                </button>
            </div>

        </div>
    </div>
</div>