<div class="container mt-3" >
    <div class="card">
        <div class="card-header">
            <h1>Membros recomendados</h1>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody *ngIf="pessoa">
                    <div *ngIf="!pessoa.paga">
                        <tr *ngFor="let cientist of cientists">
                            <td scope="row">
                                <div *ngIf="!cientist.paga"><span>{{cientist.nome}}</span></div>
                            </td>
                            <td scope="row">{{cientist.email}}</td>
                            <td scope="row">
                                <div class="btn btn-info" (click)="gotoDetails(cientist)" routerLink="details">Ver detalhes</div>
                            </td>
                        </tr>
                    </div>
                    <div *ngIf="pessoa.paga">
                        <tr *ngFor="let cientist of cientists">
                            <td scope="row">
                                <div *ngIf="cientist.paga"><span>{{cientist.nome}}</span></div>
                            </td>
                            <td scope="row">{{cientist.email}}</td>
                            <td scope="row">
                                <div class="btn btn-info" (click)="gotoDetails(cientist)" routerLink="details">Ver detalhes</div>
                            </td>
                        </tr>
                    </div>
                </tbody>
            </table>
        </div>
    </div>
</div>