<div *ngIf="pessoa">
    <div class="container" *ngIf="submitted">
        <app-glossary-success></app-glossary-success>
    </div>
    <div *ngIf="!submitted">
        <div class="col-md-6">
            <label for="" *ngFor="let g of glossarios" class="row">
                <div>
                    <input type="checkbox" name="{{g}}" id="{{g}}" (change)="onChangeCategory($event, g)">{{g}}
                </div>
            </label>
        </div>
        <input (click)="submit(pessoa)" class="btn btn-info" type="submit" value="Confirmar">        
    </div>
</div>