<div *ngIf="submitted">
    <app-glossary-success></app-glossary-success>
</div>
<div *ngIf="!submitted">
    <div class="col-md-6">
        <label for="" *ngFor="let g of glossarios" class="row">
            <div>
                <input type="checkbox" name="{{g.nome}}" id="{{g.id}}"
                (change)="onChangeCategory($event, g.nome)">{{g.nome}}
            </div>
        </label>
    </div>
    <button class="ml-3 mb-3 btn btn-success" (click)="submit(pessoa)">
        Confirmar</button>
</div>
