<nav class="navbar navbar-expand-sm bg-info navbar-info">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar">
        <button class="btn btn-light" type="submit">Pesquisar</button>
    </form>
    <button routerLink="/profile" class="btn btn-info">Meu perfil</button>
    <button class="btn btn-info" (click)="logout()">Logout</button>
</nav>

<div class="bg-info text-center pt-2 pb-2">
    <h3 class="font-weight-normal" style="color: white">Interesses</h3>
</div>

<div class="container" *ngIf="submitted">
    <app-glossary-success [selecionados]="selecionados"></app-glossary-success>
</div>

<div class="container" *ngIf="!submitted">
    <div>
        <div class="alert alert-info mt-3 mb-3" *ngIf="verifica">
            <p class="text-center">Confirme os interesses ja selecionados:</p>
            <label for="" class="row" *ngFor="let i of interesses">
                <div>
                    <input type="checkbox" name="{{i}}" id="{{i}}" (change)="onChangeCategory($event, i)">{{i}}
                </div>
            </label>
        </div>
        <div class="alert alert-success">
            <p class="text-center"></p>
            <label for="" *ngFor="let g of glossarios" class="row">
                <div>
                    <input type="checkbox" name="{{g}}" id="{{g}}" (change)="onChangeCategory($event, g)">{{g}}
                </div>
            </label>
        </div>
    </div>
    <button class="ml-3 mb-3 btn btn-info" (click)="submit(pessoa)">
        Confirmar</button>
</div>