<nav class="navbar navbar-expand-sm bg-info navbar-info">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar">
        <button class="btn btn-light" type="submit">Pesquisar</button>
    </form>
    <button class="btn btn-info" routerLink="/glossary">Interesses</button>
    <button class="btn btn-info" (click)="logout()">Logout</button>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="mt-3 col-md-3" *ngIf="cientist">
            <p class="mb-3">Bem vindo, <b>{{cientist.nome}}</b></p>

            <img src="https://uifaces.co/images/man.svg" alt="" style="width: 120px;">

            <p><b>Email: </b>{{cientist.email}}</p>
            <p><b>Empresa: </b>{{cientist.empresa}}</p>
            <p><b>Início Atividade: </b>{{pessoa.inicioDaAtividade}}</p>
            <p><b>Data de Nascimento: </b>{{pessoa.dataNascimento}}</p>

            <p><b>Nível de Escolaridade: </b>{{cientist.nivelEscolaridade}}</p>
            <p><b>Cidade: </b>{{cientist.cidade}}</p>
            <p><b>Estado: </b>{{cientist.estado}}</p>
            <p><b>Recomendações recebidas: </b>{{cientist.curtida}}</p>

            <hr>

            <h3>Interesses</h3>
            <div>
                <ul class="list-group" *ngFor="let x of interesses;">
                    <li class="list-group-item">{{x}}</li>
                </ul>
            </div>
            <button class="btn btn-dark mt-3 mb-3" routerLink="/glossary">Adicionar interesses</button>

            <hr>

            <div *ngIf="cientist.paga"><span>☆&nbsp;Você é um usuário premium</span></div>

            <button class="btn btn-dark" (click)="gotoUpdate(cientist)">Atualizar perfil</button>

            <hr>

            <div class="mt-3">
                <h3>Fotos</h3>
                <div>
                    <i style="font-size: 90px;" class="large material-icons">insert_photo</i>
                    <i style="font-size: 90px;" class="large material-icons">insert_photo</i>
                    <i style="font-size: 90px;" class="large material-icons">insert_photo</i>
                </div>
            </div>

            <div class="mt-3 container">
                <button class="btn btn-block btn-info" (click)="gotoAmigos()">Ver lista de amigos</button>
            </div>
        </div>
        <div class="col-md-6">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" ngNativeValidate>
                <h3>Post</h3>
                <div class="row container mb-3">
                    <textarea type="text" placeholder="O que você está pensando?" class="form-control"
                        formControlName="conteudo" required="true"></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Postar</button>
            </form>

            <div class="mt-3" *ngIf="atualiza">
                <button class="btn btn-info btn-block" type="button" (click)="msgAtualizaFeed()">
                    Atualizar feed
                </button>
            </div>

            <div *ngIf="posts">
                <div *ngFor="let post of posts">
                    <div class="card mt-3 mb-3">
                        <div class="card-body">
                            <p class="card-text">{{post.conteudo}}</p>                                                        
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <h3>Solicitação de amizade</h3>
            <div *ngIf="solicita" class="mb-4">
                <div *ngFor="let s of solicita">
                    <div class="card mb-3">
                        <div class="card-body">
                            <p><b>{{s.nome}}</b> solicitou amizade</p>
                            <button routerLink="/profile" class="btn btn-success mr-3"
                                (click)="aceita(s)">Aceitar</button>
                            <button routerLink="/profile" class="btn btn-danger" (click)="recusa(s)">Recusar</button>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <h3>Outros membros</h3>
            <app-list-cientists></app-list-cientists>
        </div>
    </div>
</div>