<div class="container-fluid mt-3" *ngIf="cientist">    
    <p class="mb-3">Bem vindo, <b>{{cientist.nome}}</b></p>
    
    <img style="width: 200px; height: 200px;" src="https://cdn.icon-icons.com/icons2/1812/PNG/512/4213460-account-avatar-head-person-profile-user_115386.png" alt="">

    <p><b>Email: </b>{{cientist.email}}</p>
    <p><b>Empresa: </b>{{cientist.empresa}}</p>

    <div *ngIf="cientist.paga"><span>☆&nbsp;Você é um usuário premium</span></div>

    <button class="btn btn-dark" (click)="gotoUpdate(cientist)">Atualizar perfil</button>
</div>