<nav class="navbar navbar-expand-sm bg-info navbar-info">
    <button class="btn btn-info" routerLink="/glossary">Interesses</button>
    <button routerLink="/profile" class="btn btn-info">Meu perfil</button>
    <button class="btn btn-info" (click)="logout()">Logout</button>
</nav>
<div class="container">
    <h3>Amigos</h3>
    <div *ngIf="listaAmigos" class="row">
        <div *ngFor="let amigo of listaAmigos">
            <div class="container mt-3">
                <div class="row">
                    <img src="https://uifaces.co/images/man.svg" alt="" style="width: 120px;">
                </div>
                <div class="row text-center">
                    <span>{{amigo.nome}}</span>
                </div>
                <div scope="row">
                    <div class="btn btn-info" (click)="gotoDetails(amigo)">Ver perfil</div>
                </div>
            </div>
        </div>
    </div>
</div>