<nav class="navbar navbar-expand-sm bg-info navbar-info">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar">
        <button class="btn btn-light" type="submit">Pesquisar</button>
    </form>
    <button class="btn btn-info" routerLink="/glossary">Interesses</button>
    <button routerLink="/profile" class="btn btn-info">Meu perfil</button>
    <button class="btn btn-info" (click)="logout()">Logout</button>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="mt-3 col-md-3" *ngIf="pessoa">

            <img src="https://uifaces.co/images/man.svg" style="width: 150px;">

            <p><b>Nome: </b>{{pessoa.nome}}</p>
            <p><b>Email: </b>{{pessoa.email}}</p>
            <p><b>Empresa: </b>{{pessoa.empresa}}</p>
            <p><b>Início Atividade: </b>{{cientista.inicioDaAtividade}}</p>
            <p><b>Data de Nascimento: </b>{{cientista.dataNascimento}}</p>

            <p><b>Nível de Escolaridade: </b>{{pessoa.nivelEscolaridade}}</p>
            <p><b>Cidade: </b>{{pessoa.cidade}}</p>
            <p><b>Estado: </b>{{pessoa.estado}}</p>

            <div *ngIf="auth">
                <button (click)="recomendar()" *ngIf="!recomendou" class="btn btn-success">
                    Recomendar
                </button>
                <button (click)="desrecomendar()" *ngIf="recomendou" class="btn btn-danger">
                    Desfazer recomendação
                </button>
            </div>

            <div *ngIf="auth">
                <button class="btn btn-dark mt-3" [disabled]="desabilitaSolicitacao"
                    (click)="solicitarAmizade()">Solicitar amizade</button>
            </div>

            <div class="mt-3">
                <h3>Fotos</h3>
                <div>
                    <i style="font-size: 90px;" class="large material-icons">insert_photo</i>
                    <i style="font-size: 90px;" class="large material-icons">insert_photo</i>
                    <i style="font-size: 90px;" class="large material-icons">insert_photo</i>
                </div>
            </div>
            <div class="mt-3">
                <div *ngIf="show">
                    <button class="btn btn-info" (click)="getAmigosEmComum()" >Ver amigos em comum</button>
                </div>
                <div *ngIf="!show">
                    <app-amigos-com [listaAmigos]="listaAmigos" [listaAmigosDetails]="listaAmigosDetails">
                    </app-amigos-com>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Post</h3>
            <div *ngIf="posts">
                <div *ngFor="let post of posts">
                    <div class="card mt-3 mb-3">
                        <div class="card-body">
                            <p class="card-text">{{post.conteudo}}</p>
                            <div class="container">
                                <div class="row">
                                    <p class="col">{{post.curtidas}} like</p>
                                    <button class="col btn btn-success mr-3"
                                    (click)="likeButtonClick(post)"
                                    *ngIf="verificaCurtir(post)">Like</button>
                                    <button class="col btn btn-danger mr-3"
                                    (click)="dislikeButtonClick(post)"
                                    *ngIf="!verificaCurtir(post)">Dislike</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="mb-3">
                <h3>Interesses</h3>
                <div *ngIf="interesses">
                    <div *ngFor="let x of interesses;">
                        <p>{{x}}</p>
                    </div>
                </div>
                <div *ngIf="!interesses">
                    Nenhum interesse cadastrado.
                </div>
            </div>

            <h3>Amigos de {{pessoa.nome}}</h3>
            <div *ngIf="listaAmigosDetails">
                <div *ngFor="let amigo of listaAmigosDetails">
                    <div class="row">
                        <img src="https://uifaces.co/images/man.svg" alt="" style="width: 120px;">
                    </div>
                    <div class="row text-center">
                        <span>{{amigo.nome}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>